################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroondasDigital/CopilotIndices/17.14.1641.39856
/.vs/MicroondasDigital/FileContentIndex
/.vs
/MicroondasDigital.Aplicacao/obj/Debug
/MicroondasDigital.Dominio/obj/Debug
/MicroondasDigital.Infraestrutura/obj/Debug
/MicroondasDigital.ApiOld/bin/Debug
/MicroondasDigital.ApiOld/obj/Debug
/MicroondasDigital.Aplicacao/bin/Debug
/MicroondasDigital.Dominio/bin/Debug
/MicroondasDigital.Dominio/.vs
/MicroondasDigital.Testes/bin/Debug/net481
/MicroondasDigital.Testes/obj
/MicroondasDigital.Api/bin
/MicroondasDigital.Api/.vs
/MicroondasDigital.Api/obj/Debug
/MicroondasDigital.Web/bin
/MicroondasDigital.Web/obj/Debug
/packages
/MicroondasDigital.Web/.vs
