@{
    ViewBag.Title = "Micro-ondas Digital";
}

<div class="container">
    <h1>Micro-ondas Digital</h1>
    <div id="mensagem" class="alert" style="display:none;"></div>
    <label>Tempo em segundos (1 a 120)</label>    
    <input id="tempo" />
    <br />
    <label>Potência (1 a 10)</label>    
    <input id="potencia" />

    <div class="teclado">
        <button onclick="digitar(1)">1</button>
        <button onclick="digitar(2)">2</button>
        <button onclick="digitar(3)">3</button>

        <button onclick="digitar(4)">4</button>
        <button onclick="digitar(5)">5</button>
        <button onclick="digitar(6)">6</button>

        <button onclick="digitar(7)">7</button>
        <button onclick="digitar(8)">8</button>
        <button onclick="digitar(9)">9</button>

        <button onclick="limpar()">Limpar</button>
        <button onclick="digitar(0)">0</button>
        <button onclick="backspace()">←</button>
    </div>

    <div class="buttons">
        <button onclick="iniciarContinuar()">Iniciar</button>
        <button onclick="pausarCancelar()">Pausar/Cancelar</button>
    </div>
    <h2 id="tempoDisplay"></h2>
    <div id="display" class="display"></div>
</div>

<style>
    .container {
        text-align: center;
        font-family: arial;
    }

    input {
        margin: 5px;
        padding: 8px;
    }

    button {
        margin: 5px;
        padding: 10px;
        cursor: pointer;
    }

    .display {
        margin-top: 20px;
        font-size: 24px;
        background-color: black;
        color: lime;
        padding: 20px;
        font-family: monospace;
    }

    .alert {
        padding: 12px;
        margin: 10px auto;
        width: 400px;
        border-radius: 6px;
        font-weight: bold;
        background-color: #f8d7da;
        color: #721c24;
    }

    .teclado {
        display: grid;
        grid-template-columns: repeat(3, 80px);
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
    }

        .teclado button {
            padding: 15px;
            font-size: 16px;
            border-radius: 8px;
            background: #333;
            color: white;
            border: none;
            cursor: pointer;
        }

            .teclado button:hover {
                background: #555;
            }

    .ativo {
        border: 2px solid #4CAF50;
    }
</style>

<script>
    const api_base = "https://localhost:44301";

    let tempo = "",
        potencia = "",
        status = "",
        tempoFormatado = "",
        interval = null,
        emExecucao = false,
        pausado = false,
        campoAtivo = "tempo";

    const inputTempo = document.getElementById("tempo");
    const inputPotencia = document.getElementById("potencia");

    inputTempo.addEventListener("focus", () => {
        campoAtivo = "tempo"; atualizarBorda();
    });

    inputPotencia.addEventListener("focus", () => {
        campoAtivo = "potencia"; atualizarBorda();
    });

    function atualizarBorda() {
        inputTempo.classList.remove("ativo");
        inputPotencia.classList.remove("ativo");

        if (campoAtivo === "tempo") inputTempo.classList.add("ativo");
        if (campoAtivo === "potencia") inputPotencia.classList.add("ativo");
    }

    function mostrarMensagem(msg) {
        const el = document.getElementById("mensagem");
        el.innerText = msg;
        el.style.display = "block";

        setTimeout(() => {
            el.style.display = "none";
        }, 3000);
    }
    function digitar(numero) {
        if (campoAtivo === "tempo") {
            if (inputTempo.value.length >= 3) return;
            inputTempo.value += numero;
        }

        if (campoAtivo === "potencia") {
            if (inputPotencia.value.length >= 2) return;
            inputPotencia.value += numero;
        }
    }
    function limpar() {
        if (campoAtivo === "tempo") inputTempo.value = "";
        if (campoAtivo === "potencia") inputPotencia.value = "";
    }

    function backspace() {
        if (campoAtivo === "tempo") {
            inputTempo.value = inputTempo.value.slice(0, -1);
        }
        if (campoAtivo === "potencia") {
            inputPotencia.value = inputPotencia.value.slice(0, -1);
        }
    }

    function iniciarContinuar() {
        if (!emExecucao || (emExecucao && !pausado)) {
            iniciar();
        } else {
            continuar();
        }
    }

    async function iniciar() {
        try {
            tempo = inputTempo.value;
            potencia = inputPotencia.value;

            if (tempo) {
                if (isNaN(parseInt(tempo))) {
                    mostrarMensagem("Informe somente números no campo tempo");
                    return;
                }
                if (tempo < 1 || tempo > 120) {
                    mostrarMensagem("O tempo de aquecimento deve estar entre 1 e 120 segundos");
                    return;
                }
            }
            if (potencia) {
                if (isNaN(parseInt(potencia))) {
                    mostrarMensagem("Informe somente números no campo potência");
                    return;
                }
                if (potencia < 1 || potencia > 10) {
                    mostrarMensagem("A potência deve estar entre 1 e 10");
                    return;
                }
            }
            const res = await fetch(`${api_base}/api/microondas/iniciar`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ tempo: tempo ? parseInt(tempo) : null, potencia: potencia ? parseInt(potencia) : null })
            });

            if (!res.ok) {
                const erro = await res.json();
                mostrarMensagem(erro.Message || erro);
                return;
            }

            if (!emExecucao) {
                if (!tempo) inputTempo.value = "30";
                if (!potencia) inputPotencia.value = "10";

                iniciarProcesso();
            }
            else {
                inputTempo.value = (parseInt(inputTempo.value) + 30).toString();
            }
            emExecucao = true;
            pausado = false;
        }
        catch
        {
            mostrarMensagem("Erro inesperado");
        }
    }

    async function pausarCancelar() {
        if (!emExecucao) {
            inputTempo.value = "";
            inputPotencia.value = "";
            return;
        }
        const res = await fetch(`${api_base}/api/microondas/pausar-cancelar`, { method: "POST" });
        const data = await res.json();

        pausado = data?.resultado === "pausado";

        if (data?.resultado === "cancelado") {
            pararProcesso();

            document.getElementById("display").innerText = "";
            document.getElementById("tempoDisplay").innerText = "";
        }
    }

    async function continuar() {
        await fetch(`${api_base}/api/microondas/continuar`, { method: "POST" });
        pausado = false;
    }

    function iniciarProcesso() {
        if (interval) return;

        interval = setInterval(atualizarStatus, 1000);
    }

    function pararProcesso() {
        clearInterval(interval);
        interval = null;
        inputTempo.value = "";
        inputPotencia.value = "";
        emExecucao = false;
        pausado = false;
    }

    async function atualizarStatus() {
        try {
            const res = await fetch(`${api_base}/api/microondas/status`);
            const data = await res.json();

            document.getElementById("display").innerText = data.status;
            document.getElementById("tempoDisplay").innerText = data.tempo;

            if (data.status.includes("concluído")) pararProcesso();
        }
        catch
        {
            pararProcesso();
        }
    }
</script>